.remove-image {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 2px 6px 3px;
   
    
      -webkit-transition: background 0.5s;
      transition: background 0.5s;
    }
    .remove-image:hover {
     background: #E54E4E;
      padding: 3px 7px 5px;
      top: -11px;
    right: -11px;
    }
    .remove-image:active {
     background: #E54E4E;
      top: -10px;
    right: -11px;
    }