
    <div class="col-lg-12 row">
    <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <div style="font-size: 20px;margin-top: 20px;margin-bottom: 20px">Login</div>
        <form>
          
          <label for="username">Username</label>
          <input id="userId" type="text" placeholder="Username" class="form-control" name="userId" [(ngModel)]="userId"><br><br>
          <label for="password">Password</label>
          <input id="password" type="password" placeholder="password" class="form-control" name="password" [(ngModel)]="password"><br><br>
  
        </form>
      <button id="button" class="btn btn-primary form-control" (click)="login()">Login</button>
  
      </div>
    
   
       
    </div>
