<div class="row">
  <div class="col-lg-10">
      <!-- <input type="file" value="Add Image" accept='image/*' id="filed" (change)="handleLogoFileInput($event)" style="word-wrap: break-word;overflow:auto;width: 200px;"> -->
      <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" />
      </div>
  </div>
  <div class="col-lg-2">
      <button mat-raised-button >Apply</button>
  </div>
  <p-image src="assets/showcase/images/galleria/galleria1.jpg" [preview]="true" alt="Image" width="250"></p-image>

</div><router-outlet></router-outlet>
